doctype html
html
  head
    meta(charset='UTF-8')
    title Blog Editor
    // build:css /css/app.css
    // bower:css
    // endbower
    link(rel='stylesheet', href='/css/main.css')
    // endbuild
  body
    h1 Blog Editor

    div(id="example")
      script(type="text/jsx", src="js/hello.js")

    // build:js /js/app.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/react/react.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='/bower_components/react/JSXTransformer.js')
    script(src='/js/main.js')
    // endbuild
